---
import { Image } from "astro:assets";
import goudalogo from "../assets/images/gouda-logo.svg";
import co2neutraltlogo from "../assets/images/co2-neutralt-website-logo.svg";
import rejsegarantifondenlogo from "../assets/images/rejsegarantifonden-logo.png";
import jyskrejsebureaulogo from "../assets/images/jysk-rejsebureau-logo.svg";
import facebookikon from "../assets/images/facebook-ikon.svg";
import instagramikon from "../assets/images/instagram-ikon.svg";
import linkedinikon from "../assets/images/linkedin-ikon.svg";
import skypeikon from "../assets/images/skype-ikon.svg";
import tiktokikon from "../assets/images/tiktok-ikon.svg";
import footerline from "../assets/images/footer-line.svg";
---

<div class="bg-blaze-orange-100 p-10">
  <div class="flex flex-col lg:flex-row justify-around items-center gap-2">
    <div>
      <h4 class="text-center lg:text-left h4-desktop text-blaze-orange-800 m-2">
        HÖJSKOLENDK
      </h4>
      <p class="text-center lg:text-left m-2">
        Rosenørns Allé 29 <br />
        1970 Frederiksberg <br />
        Danmark
      </p>
      <div class="flex flex-row">
        <a href="https://www.facebook.com/hojskolendk"
          ><Image alt="Facebook logo" src={facebookikon} class="w-5 m-2" /></a
        >
        <a href="https://www.instagram.com/hojskolendk/"
          ><Image alt="Instagram logo" src={instagramikon} class="w-5 m-2" /></a
        >
        <a href="https://www.tiktok.com/@hojskolendk"
          ><Image alt="TikTok logo" src={tiktokikon} class="w-4 m-2" /></a
        >
      </div>
    </div>
    <div>
      <h4 class="h4-desktop text-blaze-orange-800 text-center lg:text-left m-2">
        KONTAKT
      </h4>
      <p class="text-center lg:text-left m-2">
        Telefon: 70 27 90 07 <br />
        Mandag til fredag kl. 10-16 <br />
        Mail: info@hojskolendk.dk
      </p>
      <div class="flex flex-row">
        <a href="https://www.linkedin.com/company/h-jskolen-dk/"
          ><Image alt="LinkedIn logo" src={linkedinikon} class="w-5 m-2" /></a
        >
        <a href=""><Image alt="Skype logo" src={skypeikon} class="w-5 m-2" /></a
        >
      </div>
    </div>
    <div>
      <h4 class="text-center lg:text-left h4-desktop text-blaze-orange-800 m-2">
        SAMARBEJDSPARTNERE
      </h4>
      <div class="flex flex-col lg:flex-row items-center">
        <a href="https://www.rejsegarantifonden.dk/"
          ><Image
            alt="rejsegarantifonden logo"
            src={rejsegarantifondenlogo}
            class="w-28 m-2"
          /></a
        >
        <a href="https://www.jysk-rejsebureau.dk/"
          ><Image
            alt="rejsegarantifonden logo"
            src={jyskrejsebureaulogo}
            class="w-28 m-2"
          /></a
        >
        <a href="https://www.gouda.dk/"
          ><Image
            alt="rejsegarantifonden logo"
            src={goudalogo}
            class="w-28 m-2"
          /></a
        >
        <a href="https://www.ingenco2.dk/"
          ><Image
            alt="rejsegarantifonden logo"
            src={co2neutraltlogo}
            class="w-28 m-2"
          /></a
        >
      </div>
    </div>
  </div>
  <div class="flex flex-col items-center">
    <Image
      alt="rejsegarantifonden logo"
      src={footerline}
      class="w-5/6 mt-4 mb-4"
    />
  </div>
  <div class="flex flex-col lg:flex-row justify-around">
    <p class="text-center lg:text-left text-small">
      HöjskolenDK er medlem af Rejsegarantifonden.
    </p>
    <p class="text-center lg:text-left text-small">
      Handelbestingelser / Cookiepolitik / Data- & Privatlivspolitik
    </p>
    <p class="text-center lg:text-left text-small">
      Copyright © HÖJSKOLENDK 2022
    </p>
  </div>
</div>
