---
import { Image } from "astro:assets";
import logo from "../assets/images/hojskolendk-logo.svg";
import facebookikon from "../assets/images/facebook-ikon.svg";
import instagramikon from "../assets/images/instagram-ikon.svg";
import tiktokikon from "../assets/images/tiktok-ikon.svg";
import pilned from "../assets/images/pilned.svg";
---

<div
  class="bg-blaze-orange-100 p-10 flex flex-row justify-between items-center desktop-menu"
>
  <div>
    <a href="https://www.hojskolendk.dk"
      ><Image alt="Facebook logo" src={logo} class="w-24" /></a
    >
  </div>
  <div class="flex flex-row justify-around items-center gap-5">
    <div class="flex flex-row justify-between gap-3">
      <div class="flex flex-row">
        <li class="list-none">HØJSKOLEOPHOLD</li>
        <Image alt="Facebook logo" src={pilned} class="w-3 m-2" />
      </div>
      <div class="flex flex-row">
        <li class="list-none">SOMMERHØJSKOLE</li>
        <Image alt="Facebook logo" src={pilned} class="w-3 m-2" />
      </div>
      <div class="flex flex-row">
        <li class="list-none">OM OS</li>
        <Image alt="Facebook logo" src={pilned} class="w-3 m-2" />
      </div>
      <div class="flex flex-row">
        <li class="list-none">TILMELD</li>
        <Image alt="Facebook logo" src={pilned} class="w-3 m-2" />
      </div>
      <div class="flex flex-row">
        <li class="list-none">INFOMØDER</li>
        <Image alt="Facebook logo" src={pilned} class="w-3 m-2" />
      </div>
    </div>
    <div class="flex flex-row">
      <a href="https://www.facebook.com/hojskolendk"
        ><Image alt="Facebook logo" src={facebookikon} class="w-5 m-2" /></a
      >
      <a href="https://www.instagram.com/hojskolendk/"
        ><Image alt="Instagram logo" src={instagramikon} class="w-5 m-2" /></a
      >
      <a href="https://www.tiktok.com/@hojskolendk"
        ><Image alt="TikTok logo" src={tiktokikon} class="w-4 m-2" /></a
      >
    </div>
  </div>
</div>

<!-- BURGER MENU -->

<section class="top-nav bg-blaze-orange-100 p-2">
  <div>
    <a href="https://www.hojskolendk.dk"
      ><Image alt="Facebook logo" src={logo} class="w-24 m-5" /></a
    >
  </div>
  <div class="m-5">
    <input id="menu-toggle" type="checkbox" />
    <label class="menu-button-container" for="menu-toggle">
      <div class="menu-button"></div>
    </label>
    <ul class="menu">
      <li class="list-none">HØJSKOLEOPHOLD</li>
      <li class="list-none">SOMMERHØJSKOLE</li>
      <li class="list-none">OM OS</li>
      <li class="list-none">TILMELD</li>
      <li class="list-none">INFOMØDER</li>
    </ul>
  </div>
</section>

<style>
  h2 {
    vertical-align: center;
    text-align: center;
  }

  html,
  body {
    margin: 0;
    height: 100%;
  }

  .top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
  }

  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #menu-toggle {
    display: none;
  }

  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: rgba(12, 15, 30, 1);
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }

  .menu-button::before {
    content: "";
    margin-top: -8px;
  }

  .menu-button::after {
    content: "";
    margin-top: 8px;
  }

  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }

  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }

  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }

  @media (min-width: 1024px) {
    .top-nav {
      display: none;
    }
  }

  @media (max-width: 1024px) {
    .menu-button-container {
      display: flex;
    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 100px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      background-color: rgba(252, 235, 216, 1);
    }
    .menu > li:not(:last-child) {
      color: rgba(12, 15, 30, 1);
    }
  }

  .desktop-menu {
    display: none;
  }

  @media screen and (min-width: 1024px) {
    .desktop-menu {
      display: flex;
    }
  }
</style>
